<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Amrutras | Aadesh Herbals</title>
    <!-- SEO Meta Tags-->
    <meta name="description" content="Amrutras - Aadesh Herbals" />
    <meta
      name="keywords"
      content="bootstrap, shop, e-commerce, market, modern, responsive,  business, mobile, bootstrap 4, html5, css3, jquery, js, gallery, slider, touch, creative, clean"
    />
    <meta name="author" content="Createx Studio" />
    <!-- Viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Favicon and Touch Icons-->
    <link rel="icon" href="img/icon/favicon.png" sizes="16x16" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
    <meta name="theme-color" content="#ffffff" />
    <link rel="manifest" href="site.webmanifest" />
    <link rel="mask-icon" color="#fe6a6a" href="safari-pinned-tab.svg" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="theme-color" content="#ffffff" />
    <!-- Vendor Styles including: Font Icons, Plugins, etc.-->
    <link
      rel="stylesheet"
      media="screen"
      href="vendor/simplebar/dist/simplebar.min.css"
    />
    <link
      rel="stylesheet"
      media="screen"
      href="vendor/tiny-slider/dist/tiny-slider.css"
    />
    <link
      rel="stylesheet"
      media="screen"
      href="vendor/lightgallery.js/dist/css/lightgallery.min.css"
    />
    <script
      src="https://kit.fontawesome.com/a71853c901.js"
      crossorigin="anonymous"
    ></script>
    <!-- Font Awesome Pro CSS -->
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.8.2/css/all.css"
      integrity="sha384-xVVam1KS4+Qt2OrFa+VdRUoXygyKIuNWUUUBZYv+n27STsJ7oDOHJgfF0bNKLMJF"
      crossorigin="anonymous"
    />
    <!-- Main Theme Styles + Bootstrap-->
    <link rel="stylesheet" media="screen" href="css/theme.min.css" />
    <!-- Google Tag Manager-->
  </head>
  <!-- Body-->

  <body class="toolbar-enabled">
    <!-- Image loader -->
    <div id="loader" style="display: none" class="loader-bg">
      <div class="loader"></div>
    </div>
    <!-- Image loader -->
    <!-- Sign in / sign up modal-->
    <div class="modal fade" id="signin-modal" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <ul class="nav nav-tabs card-header-tabs" role="tablist">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  href="#signin-tab"
                  data-toggle="tab"
                  role="tab"
                  aria-selected="true"
                  ><i class="czi-unlocked mr-2 mt-n1"></i>Sign in</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  href="#signup-tab"
                  data-toggle="tab"
                  role="tab"
                  aria-selected="false"
                  ><i class="czi-user mr-2 mt-n1"></i>Sign up</a
                >
              </li>
            </ul>
            <button
              class="close"
              type="button"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body tab-content py-4">
            <form
              class="needs-validation tab-pane fade show active"
              autocomplete="off"
              novalidate
              id="signin-tab"
              action="/login"
              method="POST"
            >
              <% if(errorMsg !=null && errorMsg.length>0) {%>
              <div id="flash-msg" class="alert alert-danger">
                <%=errorMsg %>
              </div>
              <%}%>
              <div class="form-group">
                <label for="si-email">Email address</label>
                <input
                  class="form-control"
                  type="email"
                  id="si-email"
                  name="username"
                  placeholder="Enter Email Address...."
                  required
                />
                <div class="invalid-feedback">
                  Please provide a valid email address.
                </div>
              </div>
              <div class="form-group">
                <label for="si-password">Password</label>
                <div class="password-toggle">
                  <input
                    class="form-control"
                    type="password"
                    id="si-password"
                    name="password"
                    placeholder="Enter Password...."
                    required
                  />
                  <label class="password-toggle-btn">
                    <input class="custom-control-input" type="checkbox" /><i
                      class="czi-eye password-toggle-indicator"
                    ></i
                    ><span class="sr-only">Show password</span>
                  </label>
                </div>
              </div>
              <div class="form-group d-flex flex-wrap justify-content-between">
                <div class="custom-control custom-checkbox mb-2">
                  <input
                    class="custom-control-input"
                    type="checkbox"
                    id="si-remember"
                  />
                  <label class="custom-control-label" for="si-remember"
                    >Remember me</label
                  >
                </div>
                <a class="font-size-sm" href="#">Forgot password?</a>
              </div>
              <button
                class="btn btn-primary btn-block btn-shadow"
                type="submit"
              >
                Sign in
              </button>
            </form>
            <form
              class="needs-validation tab-pane fade"
              autocomplete="off"
              novalidate
              id="signup-tab"
              action="/register"
              method="POST"
            >
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="account-fn">First Name</label>
                    <input
                      class="form-control"
                      type="text"
                      name="fname"
                      id="account-fn"
                      placeholder="First Name"
                    />
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="account-ln">Last Name</label>
                    <input
                      class="form-control"
                      type="text"
                      name="lname"
                      id="account-ln"
                      placeholder="Last Name"
                    />
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="su-email">Email address</label>
                <input
                  class="form-control"
                  type="email"
                  name="username"
                  id="su-email"
                  placeholder="johndoe@example.com"
                  required
                />
                <div class="invalid-feedback">
                  Please provide a valid email address.
                </div>
              </div>
              <div class="form-group">
                <label for="su-password">Password</label>
                <div class="password-toggle">
                  <input
                    class="form-control"
                    type="password"
                    id="su-password"
                    required
                  />
                  <label class="password-toggle-btn">
                    <input class="custom-control-input" type="checkbox" /><i
                      class="czi-eye password-toggle-indicator"
                    ></i
                    ><span class="sr-only">Show password</span>
                  </label>
                </div>
              </div>
              <div class="form-group">
                <label for="su-password-confirm">Confirm password</label>
                <div class="password-toggle">
                  <input
                    name="password"
                    class="form-control"
                    type="password"
                    id="su-password-confirm"
                    required
                  />
                  <label class="password-toggle-btn">
                    <input class="custom-control-input" type="checkbox" /><i
                      class="czi-eye password-toggle-indicator"
                    ></i
                    ><span class="sr-only">Show password</span>
                  </label>
                </div>
              </div>
              <button
                class="btn btn-primary btn-block btn-shadow"
                type="submit"
              >
                Sign up
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Navbar-->
    <!-- Floating Navbar (Transparent version)-->
    <!-- Add "navbar-sticky" class to make navigation bar scrollable with the page.-->
    <header class="box-shadow-sm">
      <!-- Remove "navbar-sticky" class to make navigation bar scrollable with the page.-->
      <div class="navbar-sticky bg-light">
        <div class="navbar navbar-expand-lg navbar-light">
          <div class="container">
            <a
              class="navbar-brand d-none d-sm-block mr-3 flex-shrink-0"
              href="/"
              style="min-width: 7rem"
              ><img width="142" src="img/logo-dark.png" alt="Amrutras" /></a
            ><a
              class="navbar-brand d-sm-none mr-2"
              href="/"
              style="min-width: 4.625rem"
              ><img width="74" src="img/logo-icon.png" alt="Amrutras"
            /></a>
            <div class="input-group-overlay d-none d-lg-block mx-4">
              <div class="input-group-prepend-overlay">
                <span class="input-group-text"><i class="czi-search"></i></span>
              </div>
              <input
                class="
                  form-control
                  prepended-form-control
                  appended-form-control
                "
                type="text"
                placeholder="Search for products"
              />
            </div>
            <!-- Toolbar-->
            <div class="navbar-toolbar d-flex flex-shrink-0 align-items-center">
              <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarCollapse"
              >
                <span class="navbar-toggler-icon"></span></button
              ><a class="navbar-tool navbar-stuck-toggler" href="#"
                ><span class="navbar-tool-tooltip">Expand menu</span>
                <div class="navbar-tool-icon-box">
                  <i class="navbar-tool-icon czi-menu"></i></div></a
              ><a
                class="navbar-tool ml-1 ml-lg-0 mr-n1 mr-lg-2"
                href="#signin-modal"
                data-toggle="modal"
              >
                <% if(login) {%>

                <div class="navbar-tool dropdown ml-2">
                  <div class="navbar-tool-icon-box">
                    <i class="navbar-tool-icon czi-user"></i>
                  </div>
                  <div class="navbar-tool-text ml-n3">
                    <small>Hello,</small><%= currentUser.fname %>&nbsp;<%=
                    currentUser.lname %>
                  </div>
                  <div
                    class="dropdown-menu dropdown-menu-right"
                    style="min-width: 14rem"
                  >
                    <h6 class="dropdown-header">Account</h6>
                    <a
                      class="dropdown-item d-flex align-items-center"
                      href="/account-profile"
                      ><i class="czi-user opacity-60 mr-2"></i>Profile info</a
                    >
                    <a
                      class="dropdown-item d-flex align-items-center"
                      href="/account-wishlist"
                      ><i class="czi-heart opacity-60 mr-2"></i>Wishlist<span
                        class="font-size-sm text-muted ml-auto"
                        ><%= wishlistQuantity %>
                      </span></a
                    ><a
                      class="dropdown-item d-flex align-items-center"
                      href="/account-orders"
                      ><i class="czi-bag opacity-60 mr-2"></i>Orders<span
                        class="font-size-sm text-muted ml-auto"
                        >1</span
                      ></a
                    >
                    <div class="dropdown-divider"></div>
                    <a
                      class="dropdown-item d-flex align-items-center"
                      href="/logout"
                      ><i class="czi-sign-out opacity-60 mr-2"></i>Sign Out</a
                    >
                  </div>
                </div>
                <% }else{ %>
                <div class="navbar-tool-icon-box">
                  <i class="navbar-tool-icon czi-user"></i>
                </div>
                <div class="navbar-tool-text ml-n3">
                  <small>Hello, Sign in</small>My Account
                </div>
                <% } %>
              </a>
              <% if(login){ %>
              <div class="navbar-tool dropdown ml-3" id="cartDiv">
                <a
                  class="navbar-tool-icon-box bg-secondary dropdown-toggle"
                  href="/shop-cart"
                  ><span class="navbar-tool-label"><%= cartQuantity %></span
                  ><i class="navbar-tool-icon czi-cart"></i></a
                ><a class="navbar-tool-text" href="/shop-cart"
                  ><small>My Cart</small>₹<%= totalPrice %>.00</a
                >
                <!-- Cart dropdown-->
                <div
                  class="dropdown-menu dropdown-menu-right"
                  style="width: 20rem"
                >
                  <div class="widget widget-cart px-3 pt-2 pb-3">
                    <div
                      style="height: 15rem"
                      data-simplebar
                      data-simplebar-auto-hide="false"
                    >
                      <% userCart.forEach(function (cart){ %>
                      <div class="widget-cart-item pb-2 border-bottom">
                        <button
                          class="close text-danger"
                          type="submit"
                          data-toggle="toast"
                          data-target="#cart-toast"
                          aria-label="Remove"
                          onclick="removeFromCart('<%= cart.id %>')"
                        >
                          <span aria-hidden="true">&times;</span>
                        </button>
                        <div class="media align-items-center">
                          <a
                            class="d-block mr-2"
                            href="/product-single/<%= cart.productId %>"
                          >
                            <img
                              width="64"
                              src="data:image/<%=cart.img[0].contentType%>;base64,
                            <%=cart.img[0].data.toString('base64')%>"
                              alt="Product"
                            />
                          </a>

                          <div class="media-body">
                            <h6 class="widget-product-title">
                              <a href="/product-single/<%= cart.productId %>"
                                ><%= cart.name %>
                              </a>
                            </h6>
                            <div class="widget-product-meta">
                              <span class="text-accent mr-2"
                                >₹.<%= cart.price %> <small>00</small></span
                              ><span class="text-muted"
                                >x <%= cart.quantity %>
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <% }) %>
                    </div>

                    <div
                      class="
                        d-flex
                        flex-wrap
                        justify-content-between
                        align-items-center
                        py-3
                      "
                    >
                      <div class="font-size-sm mr-2 py-2">
                        <span class="text-muted">Subtotal:</span>

                        <span class="text-accent font-size-base ml-1"
                          >₹<%= totalPrice %>.<small>00</small></span
                        >
                      </div>
                      <a
                        class="btn btn-outline-secondary btn-sm"
                        href="/shop-cart"
                        >Expand cart<i class="czi-arrow-right ml-1 mr-n1"></i
                      ></a>
                    </div>
                    <a
                      class="btn btn-primary btn-sm btn-block"
                      href="/checkout-details"
                      ><i class="czi-card mr-2 font-size-base align-middle"></i
                      >Checkout</a
                    >
                  </div>
                </div>
              </div>
              <% }else{ %>
              <div class="navbar-tool dropdown ml-3">
                <a
                  class="navbar-tool-icon-box bg-secondary dropdown-toggle"
                  href="/shop-cart"
                  ><span class="navbar-tool-label">0</span
                  ><i class="navbar-tool-icon czi-cart"></i></a
                ><a class="navbar-tool-text" href="/shop-cart"
                  ><small>My Cart</small>₹00.00</a
                >
                <!-- Cart dropdown-->
                <div
                  class="dropdown-menu dropdown-menu-right"
                  style="width: 20rem"
                >
                  <div class="widget widget-cart px-3 pt-2 pb-3">
                    <div
                      style="height: 15rem"
                      data-simplebar
                      data-simplebar-auto-hide="false"
                    >
                      <div class="widget-cart-item pb-2 border-bottom">
                        <button
                          class="close text-danger"
                          type="button"
                          aria-label="Remove"
                        >
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                    </div>

                    <div
                      class="
                        d-flex
                        flex-wrap
                        justify-content-between
                        align-items-center
                        py-3
                      "
                    >
                      <div class="font-size-sm mr-2 py-2">
                        <span class="text-muted">Subtotal:</span
                        ><span class="text-accent font-size-base ml-1"
                          >₹00.<small>00</small></span
                        >
                      </div>
                      <a
                        class="btn btn-outline-secondary btn-sm"
                        href="#signin-modal"
                        data-toggle="modal"
                        >Expand cart<i class="czi-arrow-right ml-1 mr-n1"></i
                      ></a>
                    </div>
                    <a
                      class="btn btn-primary btn-sm btn-block"
                      href="#signin-modal"
                      data-toggle="modal"
                      ><i class="czi-card mr-2 font-size-base align-middle"></i
                      >Checkout</a
                    >
                  </div>
                </div>
              </div>
              <% } %>
            </div>
          </div>
        </div>
        <div
          class="
            navbar navbar-expand-lg navbar-light navbar-stuck-menu
            mt-n2
            pt-0
            pb-2
          "
        >
          <div class="container">
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <!-- Search-->

              <div class="input-group-overlay d-lg-none my-3">
                <div class="input-group-prepend-overlay">
                  <span class="input-group-text"
                    ><i class="czi-search"></i
                  ></span>
                </div>
                <input
                  class="form-control prepended-form-control"
                  type="text"
                  placeholder="Search for products"
                />
              </div>
              <!-- Primary menu-->
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/shop-grid-ft">Shop</a>
                </li>
                <% if(login){ %>
                <li class="nav-item">
                  <a class="nav-link" href="/account-profile">Account</a>
                </li>
                <% } else { %>
                <li class="nav-item">
                  <a class="nav-link" href="#signin-modal" data-toggle="modal"
                    >Account</a
                  >
                </li>
                <% } %>
                <li class="nav-item">
                  <a class="nav-link" href="/about">About Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Contact Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Blog</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Page title-->
    <!-- Page Content-->
    <div class="container py-4 py-lg-5 my-4">
      <div class="row">
        <div class="col-md-6">
          <div class="card border-0 box-shadow">
            <div class="card-body">
              <h2 class="h4 mb-1">Sign in</h2>
              <br />
              <% if(errorMsg !=null && errorMsg.length>0) {%>
              <div id="flash-msg" class="alert alert-danger">
                <%=errorMsg %>
              </div>
              <%}%>
              <hr />
              <form
                class="needs-validation tab-pane fade show active"
                novalidate
                id="signin-tab"
                action="/login"
                method="POST"
              >
                <div class="input-group-overlay form-group">
                  <div class="input-group-prepend-overlay">
                    <span class="input-group-text"
                      ><i class="czi-mail"></i
                    ></span>
                  </div>
                  <input
                    class="form-control prepended-form-control"
                    type="email"
                    placeholder="Enter Email Address...."
                    name="username"
                    required
                  />
                </div>
                <div class="input-group-overlay form-group">
                  <div class="input-group-prepend-overlay">
                    <span class="input-group-text"
                      ><i class="czi-locked"></i
                    ></span>
                  </div>
                  <div class="password-toggle">
                    <input
                      class="form-control prepended-form-control"
                      type="password"
                      name="password"
                      placeholder="Enter Password...."
                      required
                    />
                    <label class="password-toggle-btn">
                      <input class="custom-control-input" type="checkbox" /><i
                        class="czi-eye password-toggle-indicator"
                      ></i
                      ><span class="sr-only">Show password</span>
                    </label>
                  </div>
                </div>

                <hr class="mt-4" />
                <div class="text-right pt-4">
                  <button class="btn btn-primary" type="submit">
                    <i class="czi-sign-in mr-2 ml-n21"></i>Sign In
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-6 pt-4 mt-3 mt-md-0">
          <h2 class="h4 mb-3">No account? Sign up</h2>
          <p class="font-size-sm text-muted mb-4">
            Registration takes less than a minute but gives you full control
            over your orders.
          </p>
          <form
            class="needs-validation"
            action="/register"
            method="POST"
            novalidate
          >
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="reg-fn">First Name</label>
                  <input
                    class="form-control"
                    type="text"
                    name="fname"
                    required
                    id="reg-fn"
                  />
                  <div class="invalid-feedback">
                    Please enter your first name!
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="reg-ln">Last Name</label>
                  <input
                    class="form-control"
                    type="text"
                    name="lname"
                    required
                    id="reg-ln"
                  />
                  <div class="invalid-feedback">
                    Please enter your last name!
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="reg-email">E-mail Address</label>
                  <input
                    class="form-control"
                    type="email"
                    name="username"
                    required
                    id="reg-email"
                  />
                  <div class="invalid-feedback">
                    Please enter valid email address!
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="reg-phone">Phone Number</label>
                  <input
                    class="form-control"
                    type="text"
                    name="mobile"
                    required
                    id="reg-phone"
                  />
                  <div class="invalid-feedback">
                    Please enter your phone number!
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="reg-password">Password</label>
                  <input
                    class="form-control"
                    type="password"
                    required
                    id="reg-password"
                  />
                  <div class="invalid-feedback">Please enter password!</div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="reg-password-confirm">Confirm Password</label>
                  <input
                    class="form-control"
                    type="password"
                    name="password"
                    required
                    id="reg-password-confirm"
                  />
                  <div class="invalid-feedback">Passwords do not match!</div>
                </div>
              </div>
            </div>
            <div class="text-right">
              <button class="btn btn-primary" type="submit">
                <i class="czi-user mr-2 ml-n1"></i>Sign Up
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- Footer-->
    <!-- Footer-->
    <footer class="bg-dark pt-5">
      <!-- Second row-->
      <div class="pt-5 bg-darker">
        <div class="container">
          <div
            class="widget w-100 mb-4 pb-3 text-center mx-auto"
            style="max-width: 28rem"
          >
            <a class="d-inline-block align-middle" href="#"
              ><img
                class="d-block mb-4"
                width="120"
                src="img/footer-logo-light.png"
                alt="Amrutras"
            /></a>
            <h3 class="widget-title text-light pb-1">
              Subscribe to newsletter
            </h3>
            <form
              class="cz-subscribe-form validate"
              action="https://studio.us12.list-manage.com/subscribe/post?u=c7103e2c981361a6639545bd5&amp;amp;id=29ca296126"
              method="post"
              name="mc-embedded-subscribe-form"
              target="_blank"
              novalidate
            >
              <div class="input-group input-group-overlay flex-nowrap">
                <div class="input-group-prepend-overlay">
                  <span class="input-group-text text-muted font-size-base"
                    ><i class="czi-mail"></i
                  ></span>
                </div>
                <input
                  class="form-control prepended-form-control"
                  type="email"
                  name="EMAIL"
                  placeholder="Your email"
                  required
                />
                <div class="input-group-append">
                  <button
                    class="btn btn-primary"
                    type="submit"
                    name="subscribe"
                  >
                    Subscribe*
                  </button>
                </div>
              </div>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px" aria-hidden="true">
                <input
                  class="cz-subscribe-form-antispam"
                  type="text"
                  name="b_c7103e2c981361a6639545bd5_29ca296126"
                  tabindex="-1"
                />
              </div>
              <small class="form-text text-light opacity-50"
                >*Receive early discount offers, updates and new products
                info.</small
              >
              <div class="subscribe-status"></div>
            </form>
          </div>
          <hr class="hr-light pb-4 mb-3" />
          <div class="d-md-flex justify-content-between">
            <div
              class="
                pb-4
                font-size-xs
                text-light
                opacity-50
                text-center text-md-left
              "
            >
              © All rights reserved. Made by
              <a
                class="text-light"
                href="https://logyana.com/"
                target="_blank"
                rel="noopener"
                >Logyana Solutions</a
              >
            </div>
            <div class="widget widget-links widget-light pb-4">
              <ul
                class="
                  widget-list
                  d-flex
                  flex-wrap
                  justify-content-center justify-content-md-start
                "
              >
                <li class="widget-list-item ml-4">
                  <a class="widget-list-link font-size-ms" href="#"
                    >Help Center</a
                  >
                </li>
                <li class="widget-list-item ml-4">
                  <a class="widget-list-link font-size-ms" href="#"
                    >Affiliates</a
                  >
                </li>
                <li class="widget-list-item ml-4">
                  <a class="widget-list-link font-size-ms" href="#">Support</a>
                </li>
                <li class="widget-list-item ml-4">
                  <a class="widget-list-link font-size-ms" href="#"
                    >Terms &amp; Conditions</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Toolbar for handheld devices-->
    <div class="cz-handheld-toolbar">
      <% if(login){ %>
      <div class="d-table table-fixed w-100">
        <a
          class="d-table-cell cz-handheld-toolbar-item"
          href="/account-profile"
          data-toggle="modal"
          ><span class="cz-handheld-toolbar-icon"><i class="czi-user"></i></span
          ><span class="cz-handheld-toolbar-label">Account</span></a
        ><a
          class="d-table-cell cz-handheld-toolbar-item"
          href="/account-wishlist"
          ><span class="cz-handheld-toolbar-icon"
            ><i class="czi-heart"></i></span
          ><span class="cz-handheld-toolbar-label">Wishlist</span></a
        ><a class="d-table-cell cz-handheld-toolbar-item" href="/shop-cart"
          ><span class="cz-handheld-toolbar-icon"
            ><i class="czi-cart"></i
            ><span class="badge badge-primary badge-pill ml-1"
              ><%= cartQuantity %>
            </span></span
          ><span class="cz-handheld-toolbar-label"
            >₹<%= totalPrice %>.00</span
          ></a
        >
      </div>
      <% }else { %>
      <div class="d-table table-fixed w-100">
        <a
          class="d-table-cell cz-handheld-toolbar-item"
          href="#signin-modal"
          data-toggle="modal"
          ><span class="cz-handheld-toolbar-icon"><i class="czi-user"></i></span
          ><span class="cz-handheld-toolbar-label">Account</span></a
        ><a
          class="d-table-cell cz-handheld-toolbar-item"
          href="#signin-modal"
          data-toggle="modal"
          ><span class="cz-handheld-toolbar-icon"
            ><i class="czi-heart"></i></span
          ><span class="cz-handheld-toolbar-label">Wishlist</span></a
        ><a
          class="d-table-cell cz-handheld-toolbar-item"
          href="#signin-modal"
          data-toggle="modal"
          ><span class="cz-handheld-toolbar-icon"
            ><i class="czi-cart"></i
            ><span class="badge badge-primary badge-pill ml-1">0</span></span
          ><span class="cz-handheld-toolbar-label">₹00.00</span></a
        >
      </div>
      <% } %>
    </div>
    <!-- Back To Top Button--><a class="btn-scroll-top" href="#top" data-scroll
      ><span class="btn-scroll-top-tooltip text-muted font-size-sm mr-2"
        >Top</span
      ><i class="btn-scroll-top-icon czi-arrow-up"> </i
    ></a>
    <!-- Vendor scrits: js libraries and plugins-->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <!-- <script src="vendor/jquery/dist/jquery.slim.min.js"></script> -->
    <script src="vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
    <script src="vendor/simplebar/dist/simplebar.min.js"></script>
    <script src="vendor/tiny-slider/dist/min/tiny-slider.js"></script>
    <script src="vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <script src="vendor/lightgallery.js/dist/js/lightgallery.min.js"></script>
    <script src="vendor/lg-fullscreen.js/dist/lg-fullscreen.min.js"></script>
    <script src="vendor/lg-zoom.js/dist/lg-zoom.min.js"></script>
    <!-- Main theme script-->
    <script src="js/theme.min.js"></script>
    <script src="js/ajax.js"></script>
  </body>
</html>
